:root {
  --primary: #ad8e70;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* About Section */
.about {
  padding: 6rem 7%;
  background-image: url("../img/header-location.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  color: var(--primary);
  text-shadow: 1px 1px 5px rgba(255, 205, 165, 0.6);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.about .container {
  display: flex;
  animation: fadeIn 0.5s ease-in-out;
  border: 1px solid white;
  border-radius: 0.35rem;
  box-shadow: 3px 3px 8px rgba(173, 142, 112, 0.6);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about .container .about-img {
  flex: 1 1 30rem;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.about .container p {
  /* margin-bottom: 0.8rem; */
  font-size: 1.3rem;
  font-weight: 400;
  text-align: justify;
  color: var(--primary);
}

.content {
  width: 20rem;
  height: 25.2rem;
  flex: 1 1 30rem;
  height: auto;
  padding: 0 1rem;
  background: rgba(241, 219, 191, 0.431);
  backdrop-filter: blur(10px);
  font-size: 25px;
  font-weight: bold;
}

p {
  padding-top: 1rem;
}

.explore-button {
  text-align: center;
  margin-top: 2.5rem;
}

.explore-button button {
  border: 0.15rem solid var(--primary);
  padding: 1rem 3rem;
  border-radius: 2rem;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(173, 142, 112, 0.6);
  transition: .3s ease;
}

.explore-button button:hover {
  background: var(--primary);
}

.explore-button button a {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  transition: .3s ease;
}

.explore-button button:hover a {
  color: white;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 786px) {
  html {
    font-size: 61.5%;
  }

  .about .container {
    flex-wrap: wrap;
  }

  .content {
    padding: 1.2rem;
    border-radius: 0 0 0.35rem 0.35rem;
  }

  .about .container .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .container .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .container .content p {
    font-size: 1.6rem;
    text-align: justify;
    padding: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
